<center>
  <h1>Zero Setup Deployment Verification</h1>
  <h2>by <%= %w[diffing comparing].shuffle.first %> screenshots after each deploy</h2>
  <h1>Here's how it looks:</h1>
  <br/>
  <img src="http://i.imgur.com/q2ElIrH.png"/>
  <br/>

  <h4>Just enter a few pages to watch (one per line, maximum 5):</h4>
  <div align="center" width="400">
    <%= simple_form_for(@page_list) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs" style="margin-top:10px">
        <%= f.text_area :urls, :required => true, :cols => "60", :rows => "3" %>
      </div>

      <div class="form-inputs">
        <h4>And your email for results:</h4>
        <%= f.input :email, :required => true, label: false %>
      </div>

      <div class="form-actions" style="margin-top: 20px; margin-bottom: 20px">
        <%= f.button :submit, "Snapshot!" %>
      </div>
    <% end %>
  </div>

  <h4 style="margin-bottom:15px">Or <b>using Heroku?</b> Just run this:</h4>
  <code>heroku addons:add deployhooks:http --url=http://www.diffcop.com/snap</code>
  <h4 style="margin-top:20px">And we'll just email you after each deploy.</h4>
</center>
