<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<center>
  <h1>Your latest deploy snapshots</h1>
  <p><a href="<%= @snapshots.first.url %>"><%= @snapshots.first.url %></a></p>
  <% @snapshots.each do |snapshot| %>
    <h3><%= time_ago_in_words(snapshot.created_at) %> ago</h3>
    <a href="<%= snapshot.image %>"><img src="<%= snapshot.image %>" width="400"/></a>
  <% end %>
  <p><font color="#999999"><b><a href="http://whatthediff.herokuapp.com/">What the Diff</a></b></font></p>
</center>
</body>
</html>
