<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<center>
  <% if @different %>
    <h1>Diff detected at <a href="<%= @snapshots.first.url %>"><%= @snapshots.first.url %></a></h1>
    <table>
      <tr>
        <td>
          <center>
            <h2><%= time_ago_in_words(@diff.snapshot_b.created_at) %> ago</h2>
            <a href="<%= @diff.snapshot_b.image_url %>"><img src="<%= @diff.snapshot_b.image_url %>" width="300"/></a>
          </center>
        </td>
        <td>
          <center>
            <h2>diff (black is unchanged)</h2>
            <a href="<%= @diff.image_url %>"><img src="<%= @diff.image_url %>" width="300"/></a>
          </center>
        </td>
        <td>
          <center>
            <h2>right now</h2>
            <a href="<%= @diff.snapshot_a.image_url %>"><img src="<%= @diff.snapshot_a.image_url %>" width="300"/></a>
          </center>
        </td>
      </tr>
    </table>
  <% elsif !@different %>
    <h1>Nice, no changes detected</h1>
    <p>For page: <a href="<%= @snapshots.first.url %>"><%= @snapshots.first.url %></a></p>
    <h2>Most recent screenshots</h2>
    <% @snapshots.each do |snapshot| %>
      <h3><%= time_ago_in_words(snapshot.created_at) %> ago</h3>
      <a href="<%= snapshot.image_url %>"><img src="<%= snapshot.image_url %>" width="400"/></a>
    <% end %>
  <% else %>
    <h2>Great, grabbed our first screenshot</h2>
    <h1>Now go break something!</h1>
    <% snapshot = @snapshots.first %>
    <h3>Taken just now</h3>
    <a href="<%= snapshot.image_url %>"><img src="<%= snapshot.image_url %>" width="400"/></a>
  <% end %>
  <br/>
  <br/>
  <hr style="background:none; border: dotted 1px #9C9C9C; border-width:1px 0 0 0; height:0; width: 34%; margin:0px 0px 0px 0px; padding-top:10px;padding-bottom:10px;">
  <p><font color="#999999"><b><a href="http://whatthediff.herokuapp.com/">Diff Cop</a></b></font></p>
</center>
</body>
</html>
