<center>
  <h3>Your secret dashboard URL:</h3>
  <code><%= snapshots_dashboard_url(@page_list.secret_key) %></code>
  <h3>Want to trigger during your deploy?</h3>
  <h4>Just <code>GET</code> the endpoint:</h4>
  <code><%= trigger_capture_api_url(@page_list.secret_key) %></code>
  <h4>Try it now:</h4>
  <code>curl -i <%= trigger_capture_api_url(@page_list.secret_key) %></code>
  <div width="200px" style="text-align: left; margin-left: 200px; margin-top: 20px">
    <ul>
      <li>
        <a href="<%= trigger_capture_secret_path(@page_list.secret_key) %>">Trigger re-capture</a>
      </li>
    </ul>
  </div>
  <% page_list_capture = @page_list.page_list_captures.last %>
    <% if page_list_capture.has_diff? %>
    <h1>Latest diffs:</h1>
    <% page_list_capture.diffs do |diff| %>
      <table>
        <tr>
          <td>
            <center>
              <h2><%= time_ago_in_words(diff.snapshot_b.created_at) %> ago</h2>
              <a href="<%= diff.snapshot_b.image_url %>"><img src="<%= diff.snapshot_b.image_url %>" width="300"/></a>
            </center>
          </td>
          <td>
            <center>
              <h2>diff (red is changed)</h2>
              <a href="<%= diff.image_url %>"><img src="<%= diff.image_url %>" width="300"/></a>
            </center>
          </td>
          <td>
            <center>
              <h2>right now</h2>
              <a href="<%= diff.snapshot_a.image_url %>"><img src="<%= diff.snapshot_a.image_url %>" width="300"/></a>
            </center>
          </td>
        </tr>
      </table>
    <% end %>
  <% end %>

  <% if page_list_capture.snapshots.count > 0 %>
    <h1>Latest screenshots</h1>
    <% waiting_shots = (page_list_capture.snapshots.count - page_list_capture.ready_screenshots.count) %>
    <% if (waiting_shots > 0) %>
      <h3>Waiting on <%= pluralize(waiting_shots, "snapshots") %> (<a href="<%= request.original_url %>">refresh</a>)</h3>
    <% end %>
    <% page_list_capture.ready_screenshots.each do |snapshot| %>
      <p>Page <a href="<%= snapshot.url %>"><%= snapshot.url %></a>:</p>
      <a href="<%= snapshot.image_url %>"><img src="<%= snapshot.image_url %>" width="400"/></a>
      <hr style="background:none; border: dotted 1px #9C9C9C; border-width:1px 0 0 0; height:0; width: 34%; margin:0px 0px 0px 0px; padding-top:10px;padding-bottom:10px;">
    <% end %>
  <% end %>
</center>
